Repository spotsccc/tyran: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: install and configure tailwind
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/pages/_app.tsx
  src/pages/global.css
  src/pages/index.tsx
  tailwind.config.js
Due: prettier --write

chore: install and configure storybook
  .eslintrc.cjs
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/_pages/test.stories.tsx
  src/_pages/test.tsx
  tsconfig.json
Due: prettier --write, eslint --fix

chore: install and configure jest
  .babelrc
  jest.config.ts
  package.json
  pnpm-lock.yaml
  test/ERC721.spec.ts
Due: prettier --write, eslint --fix

feature: add login via meta mask
  package.json
  pnpm-lock.yaml
  scripts/deploy.ts
  src/_pages/home/binded-ui/home-page.tsx
  src/_pages/home/binded-ui/network-error-message.ts
  src/_pages/home/binded-ui/wallet-connection.ts
  src/_pages/home/index.ts
  src/_pages/home/model.ts
  src/_pages/home/ui/network-error-message.tsx
  src/_pages/home/ui/wallet-connection.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/shared/ethereum/errors.ts
  src/shared/ethereum/index.ts
  src/shared/ethereum/model.ts
  src/shared/events/index.ts
Due: prettier --write, eslint --fix

ci: add GH action to run tests
  .github/workflow/run-tests.yml
Due: none

test
  src/_pages/test.stories.tsx
  src/_pages/test.tsx
Due: prettier --write

test
  .github/workflows/run-tests.yml
Due: none

fix: fix ci
  .github/workflows/run-tests.yml
  test/ERC721.spec.ts
Due: prettier --write, eslint --fix

feat: implement contract shop with method buy
  contracts/ERC721.sol
  contracts/Shop.sol
  test/Shop.spec.ts
Due: prettier --write, eslint --fix

feat: implement placeToMarket method
  contracts/ERC721.sol
  contracts/Shop.sol
  test/Shop.spec.ts
Due: prettier --write, eslint --fix

feat: implement buyFromSeller method
  contracts/Shop.sol
  test/Shop.spec.ts
Due: prettier --write, eslint --fix

feat(create-turbo): apply official-starter transform
  meta.json
  package.json
Due: none

feat(create-turbo): install dependencies
  pnpm-lock.yaml
Due: none

update .gitignore
  .gitignore
  .idea/workspace.xml
Due: none

(doc): Add readme.md
  README.md
Due: none

feat: implement filters
  apps/client/src/entities/artifact/ui/card-by-id.tsx
  apps/client/src/pages/artifact/ui.tsx
  apps/client/src/pages/market/model.ts
  apps/client/src/pages/market/ui.tsx
  apps/client/src/pages/my-artifacts/model.ts
  apps/client/src/pages/my-artifacts/sync-query.ts
  apps/client/src/pages/my-artifacts/ui/page.tsx
  apps/client/src/shared/api/base-request.ts
  apps/client/src/shared/api/get-lots.ts
  apps/client/src/shared/api/index.ts
  apps/client/src/shared/api/users.ts
  apps/client/src/shared/assets/cross.svg
  apps/client/src/shared/assets/index.ts
  apps/client/src/shared/lib/filter/index.ts
  apps/client/src/shared/lib/pagination/base.ts
  apps/client/src/shared/lib/pagination/index.ts
  apps/client/src/shared/lib/pagination/infinite-scroll.ts
  apps/client/src/shared/lib/pagination/withParams.ts
  apps/client/src/shared/ui/button/common-button.tsx
  apps/client/src/widgets/artifact/feed/model.ts
  apps/client/src/widgets/artifact/feed/ui.tsx
  apps/client/tailwind.config.js
  apps/server/src/application/artifacts.service.ts
  apps/server/src/infrastructure/artifacts.repository.ts
  apps/server/src/presentation/artifacts.controller.ts
  apps/server/src/shared/lib/pipes/index.ts
Due: prettier --write, eslint --fix

feat: update card view
  apps/client/src/entities/artifact/assets/blue-gem.svg
  apps/client/src/entities/artifact/assets/epic-background.svg
  apps/client/src/entities/artifact/assets/green-gem.svg
  apps/client/src/entities/artifact/assets/index.ts
  apps/client/src/entities/artifact/assets/legendary-background.svg
  apps/client/src/entities/artifact/assets/mystery-background.svg
  apps/client/src/entities/artifact/assets/rare-background.svg
  apps/client/src/entities/artifact/assets/red-gem.svg
  apps/client/src/entities/artifact/assets/skull.svg
  apps/client/src/entities/artifact/assets/spiral.svg
  apps/client/src/entities/artifact/assets/star.svg
  apps/client/src/entities/artifact/assets/yellow-gem.svg
  apps/client/src/entities/artifact/ui/card.tsx
Due: prettier --write, eslint --fix

feat: add artifact page
  apps/client/src/features/artifact/mint/model.ts
  apps/client/src/features/artifact/mint/ui.tsx
  apps/client/src/pages/mint/ui.tsx
  apps/client/src/widgets/footer/index.ts
  apps/client/src/widgets/footer/ui.tsx
  apps/client/src/widgets/header/ui.tsx
  apps/client/src/widgets/page-layout/index.ts
  apps/client/src/widgets/page-layout/ui.tsx
  apps/client/tailwind.config.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,css}
  eslint --fix: any of: *.ts
